*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#showcase{
  width: 100%;
  overflow: hidden;
  background: url('./images/desktop/image-header.jpg') center center/cover no-repeat;
  height: 80vh;
  color: white;
  font-family: 'Fraunces', sans-serif;
}

#showcase-content{
  margin-top: 4rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#showcase-content h1{
  margin-bottom: 4rem;
  font-size: 46px;
  width: 100%;
}

.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

#navbar ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

#navbar ul li a{
  color: white;
  padding: 0.75rem;
  margin: 0 0.25rem;
  text-decoration: none;
}

#navbar ul li a:hover{
  background: rgba(232, 238, 240, 0.3);
  border-radius: 25px;
}

#navbar ul li span a{
  background: hsl(0, 0%, 100%);
  color: #333;
  border-radius: 25px;
  text-transform: uppercase;
}

.main-container{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.main-container div{
  margin: auto;
  height: 600px;
  width: 100%;
  background-color: #fff;
  align-items: center;
  justify-content: center;
}

.main-container div h1{
  padding-bottom: 25px;
  padding-right: 0.2rem;
  margin-right: 320px;
  margin-left: 200px;
  font-family: 'Fraunces', sans-serif;
  font-weight: 900;
}

.main-container div p{
  color: #777;
  padding-bottom: 30px;
  margin-right: 320px;
  margin-left: 200px;
}

.main-container div a{
  margin-left: 200px;
  font-family: 'Fraunces', sans-serif;
  font-weight: 900;
  text-decoration: none;
  color: #333;
}

.main-container .transform{
  margin: auto;
  padding-top: 8rem;
}

.main-container .transform a:hover{
  border-bottom: 5px solid hsl(51, 100%, 49%);
}

.main-container .stand-out{
  margin: auto;
  padding-top: 8rem;
  
}

.main-container .stand-out a:hover{
  border-bottom: 5px solid hsl(7, 99%, 70%);
}

.main-container img{
  width: 100%;
  height: 600px;
}

.main-container .graphic-design{
  background: url('./images/desktop/image-graphic-design.jpg') top center/cover no-repeat;
  color: hsl(167, 40%, 24%);
  text-align: center;
}

.main-container .graphic-design{
  padding-top: 26rem;
}

.main-container .graphic-design p{
  color: hsl(167, 40%, 24%);
  padding: 0 2rem;
}

.main-container .photography {
  padding-top: 26rem;
}

.main-container .photography{
  background: url('./images/desktop/image-photography.jpg') top center/cover no-repeat;
  color: hsl(198, 62%, 26%);
  text-align: center;
}

.main-container .photography p{
  color: hsl(198, 62%, 26%);
  padding: 0 1.5rem;
}

/* Testimonials */

.testimonials{
  height: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.testimonials span{
  color: #777;
}

.testimonials h3{
  padding: 4rem;

}

.testimonial-container{
  align-items: center;
  width: 55%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.testimonial-container div{
  width: 320px;
}

.testimonial-container img{
  border-radius: 50%;
  padding: 1.5rem;
}

.testimonial-container p{
  padding-bottom: 3rem;
}

.testimonial-container div h3{
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

/* Image Grid */
.image-container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.image-container img{
  width: 100%;
}

/* Footer */
#main-footer{
  height: 350px;
  background: hsla(168, 58%, 59%, 0.74);
  color: hsl(167, 40%, 24%);
  display: flex;
  align-items: center;
}

#main-footer .footer-container{
  margin: auto;
  justify-content: center;
  text-align: center;
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
}

#main-footer .footer-container ul{
 display: flex;
 justify-content: space-between;
 list-style: none;
 padding: 4rem;
}

#main-footer .footer-container ul li a{
  padding: 3rem;
  text-decoration: none;
  color: hsl(167, 40%, 24%);
}

#main-footer .footer-container ul li a:hover{
  color: #fff;

}

#main-footer .footer-container .socials svg{
  margin-right: 2rem;
}

#main-footer .footer-container .socials svg:hover path{
  fill: #fff;
  cursor: pointer;
}


/* mobile screen */

@media(max-width: 375px) {

  .nav-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
  }

  .nav-container h1{
    padding: 2rem;
  }

  .main-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: 
    "egg"
    "transform"
    "glass"
    "stand-out"
    "graphic-design"
    "photography";
  }

  .main-container div {
    margin: auto;
    height: 600px;
    width: 100%;
    background-color: #fff;
    align-items: center;
    justify-content: center;
  }

  .main-container div h1 {
    padding-bottom: 3rem;
    padding-right: 0.2rem;
    margin-right: 1rem;
    margin-left: 1rem;
    font-family: 'Fraunces', sans-serif;
    font-weight: 900;
  }

  .main-container div p {
    color: #777;
    padding-bottom: 3rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }

  .main-container div a {
    margin-left: 6rem;
  }

  .main-container .transform{
    grid-area: transform;
  }
  .main-container .egg{
    grid-area: egg;
  }
  .main-container .glass{
    grid-area: glass;
  }
  .main-container .stand-out{
    grid-area: stand-out;
  }
  .main-container .graphic-design{
    grid-area: graphic-design;
    padding-top: 20rem;
  }
  .main-container .graphic-design p {
    padding: 0;
  }

  .main-container .photography{
    grid-area: photography;
  }

  /* testimonials */
  .testimonials h3{
    padding: 2rem;
  }

  .testimonial-container {
    align-items: center;
    width: 55%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  /* Image grid */
  .image-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  /* footer */
 #main-footer .footer-container ul li a {
    margin-right: 2rem;
    text-decoration: none;
    color: hsl(167, 40%, 24%);
 }
}