*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.p-3 {
  padding: 6rem;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Barlow", sans-serif;
}

a, h2 {
  font-family: "Fraunces", sans-serif;
}

#showcase{
  width: 100%;
  overflow: hidden;
  background: url('./images/desktop/image-header.jpg') center center/cover no-repeat;
  height: 80vh;
  color: white;
  
  position: relative;
}

.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.nav-container h1 {
  font-size: 2rem;
}

.nav-container ul {
  display: flex;
  font-size: 1.3rem;
  list-style: none;
  justify-content: space-between;
}

.nav-links {
  color: white;
  padding: 0.75rem;
  margin: 0 0.25rem;
  text-decoration: none;

  font-family: 'Barlow', sans-serif;
}

.nav-links:hover {
  background: rgba(232, 238, 240, 0.3);
  border-radius: 25px;
}

#navbar ul li span a {
  background: hsl(0, 0%, 100%);
  color: #333;
  border-radius: 25px;
  text-transform: uppercase;
}

#navbar ul li span a:hover{
  background: rgba(232, 238, 240, 0.3);
  border-radius: 25px;
}

#showcase-content{
  position: absolute;
  top: 180px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;

  font-family: "Fraunces", sans-serif;
}

#showcase-content h1{
  margin-bottom: 4rem;
  font-size: 46px;
  width: 100%;
}

.main-container{
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.main-container{
  display: flex;
  flex-wrap: wrap;
}

.main-container-item{
  flex: 1;
  flex-basis: calc(50% - 10px);
  min-width: 300px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.main-container-item img{
  display: block;
  width: 100%;
  height: 100%;
}

.main-container div h2{
  font-size: 40px;
  font-family: 'Fraunces', sans-serif;
  font-weight: 900;
}

.main-container div p{
  color: #777;
  width: 50%;
  padding: 2rem 0;
}

.main-container div a{
  text-decoration: none;
  color: #333;
  font-weight: 900;
  display: inline-block;
  position: relative;
}

.main-container .transform a:hover::before{
  background: hsl(51, 100%, 49%);
}

.main-container .transform a::before{
  content: '';
  background: hsl(51, 100%, 80%);
  position: absolute;
  bottom: 0;
  left: -10px;
  width: 140px;
  height: 8px;
  z-index: -1;
  border-radius: 25px;
}
.main-container .stand-out a::before{
  content: '';
  background: hsl(7, 100%, 90%);
  position: absolute;
  bottom: 0;
  left: -10px;
  width: 140px;
  height: 8px;
  z-index: -1;
  border-radius: 25px;
}

.main-container .stand-out a:hover::before{
background: hsl(7, 99%, 70%);
}

.main-container .adopt{
  display: flex;
  min-height: 600px;
  height: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-self: end;
  justify-content: end;  
}

.main-container .graphic-design{
  background: url('./images/desktop/image-graphic-design.jpg') top center/cover no-repeat;
  color: hsl(167, 40%, 24%);
}

.main-container .graphic-design p{
  color: hsl(167, 40%, 24%); 
}

.main-container .photography{
  background: url('./images/desktop/image-photography.jpg') top center/cover no-repeat;
  color: hsl(198, 62%, 26%);
}



.main-container .photography p{
  color: hsl(198, 62%, 26%);
  
}

/* Testimonials */

.testimonials{

  height: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.testimonials span{
  color: #777;
}

.testimonials h2{
  padding-top: 4rem;

}

.testimonial-container{
  display: grid;
  grid-template-columns: repeat(3, 33%);
  width: 90%;
  margin: auto;  
}

/* .testimonial-container div{
  flex: 1;
  flex-basis: calc(33% - 10px);
  min-width: 400px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

} */


.testimonial-container img{
  border-radius: 50%;
  padding: 1.5rem;
}

.testimonial-container p{
  padding-bottom: 3rem;
}

.testimonial-container div h3{
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

/* Image Grid */
.image-container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

.image-container img{
  width: 100%;
}

/* Footer */
#main-footer{
  height: 300px;
  width: 100%;
  background: hsla(168, 58%, 59%, 0.74);
  color: hsl(167, 40%, 24%);
}

#main-footer .footer-container{
  font-weight: 600;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

}

#main-footer .footer-container ul{
 display: flex;
 justify-content: space-between;
 list-style: none;
 padding-top: 2rem;
 padding-bottom: 4rem;
 align-items: center;
 text-align: center;
}

.footer-links{
margin-right: 4rem;
  
}

.footer-container ul li a{
  text-decoration: none;
  color: hsl(167, 40%, 24%);

  font-family: 'Barlow', sans-serif;
}

#main-footer .footer-container ul li a:hover{
  color: #fff;

}

#main-footer .footer-container .socials svg{
  margin-right: 2rem;
}

#main-footer .footer-container .socials svg:hover path{
  fill: #fff;
  cursor: pointer;
}


/* mobile screen */

@media(max-width: 450px) {

  .nav-container ul{
    display: none;
  }

  .main-container{
    display: grid;
    grid-template-columns: repeat(1, 100%);
    text-align: center;
  }

  .main-container-item:nth-child(2){
    grid-row: 1 / span 1;
  }

  .main-container div p{
    width: 100%;
  }
  .p-3{
    padding: 3rem;
  }


  .testimonial-container{
    grid-template-columns: repeat(1, 100%);
  }

  .image-container{
    grid-template-columns: repeat(2, 50%);
  }
}